.create-post-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .col-left,
  .col-right {
    padding: 10px;
    width: 100%;
  }
  .col-left {
    .data-post {
      margin: 5px 0px;
      &.button {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 992px) {
  .create-post-wrapper {
    flex-direction: row;
  }
}
