@import "../../Theme/variables.scss";
.sidebar-wrapper {
  display: none;
  max-width: 396px;
  .profile-wrapper {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 150px;

    .info {
      display: flex;
      .data-profile {
        margin-left: 10px;

        .username {
          font-weight: bold;
        }
        .name {
          color: $gray-medium;
        }
      }
    }
    .actions {
      margin-top: 20px;
    }
  }
}
@media (min-width: 992px) {
  .sidebar-wrapper {
    display: initial;
    position: sticky;
    top: 200px;
    width: 50%;
    padding: 20px 10px 20px 20px;
  }
}
