@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-size: 1rem;
  font-weight: 400;

  line-height: 1.5rem;
  color: $text-dark;
  background-color: $surface-color;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: $text-dark;
  line-height: 4rem;
  font-weight: 600;
  margin: 10px;

  &.big {
    font-size: 1.92rem;
  }
  &.small {
    font-size: 1.5rem;
  }
  &.white {
    color: $text-white;
  }
}
h2 {
  color: $text-dark;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin: 10px;

  &.white {
    color: $text-white;
  }
}
h3 {
  color: $text-dark;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: 10px;

  &.white {
    color: $text-white;
  }
}
h4 {
  color: $text-dark;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.62rem;
  margin: 10px;
  &.white {
    color: $text-white;
  }
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-light {
  font-weight: lighter;
}

p,
span {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  max-width: 28.4rem;

  &.white {
    color: $text-white;
  }
  &.light {
    font-family: "Montserrat-Light";
  }
  &.error {
    color: $error-dark;
    font-size: 14px;
    margin: 5px 0px;
  }
}
