@import "../../Theme/variables.scss";
.card-post {
  overflow: hidden;
  margin-bottom: 20px;
  .card {
    .card-body {
      .header {
        display: flex;
        .data {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          width: 84%;

          .fullname,
          .location {
            margin-bottom: 0;
          }
          .fullname {
            font-weight: bold;
            font-size: 16px;
          }
          .location {
            font-size: 13px;
          }
        }
        .status-content {
          .status {
            font-size: 13px;
            color: $gray-medium;
          }
        }
      }

      .body {
        margin-top: 20px;
        .image-post-container {
          overflow: hidden;
          .image-post {
            object-fit: cover;
            width: 286px;
            height: 286px;
            border-radius: 4px;
          }
        }

        .like-container {
          height: 30px;
          max-width: 200px;
          display: flex;
          align-items: center;
          margin-top: 10px;
          .animation {
            cursor: pointer;
            width: 70px;
            .heart-ic {
              width: 70px;
            }
          }
          .count-likes {
            cursor: pointer;
            font-weight: bold;
            font-size: 13px;
            margin-left: -20px;
          }
        }

        .message-container {
          margin-top: 20px;

          .message {
            font-size: 14px;
            .fullname {
              font-weight: bold;
            }
            .more {
              font-size: 13px;
              padding: 0;
              padding-left: 5px;

              &:focus,
              &:active {
                outline: none;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .card-post {
    .card {
      .card-body {
        .body {
          .image-post-container {
            .image-post {
              width: 100%;
              height: 416px;
            }
          }
        }
      }
    }
  }
}
