@import "../../Theme/variables.scss";

.navbar-wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0;
  background-color: $surface-white;
  .form-control:focus {
    box-shadow: none;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar-profile {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 30px;
    }
  }
}

@media (min-width: 992px) {
  .navbar-wrapper {
    padding: 0 100px;
  }
}
