@import "../../Theme/variables.scss";
.account-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .account-container {
    width: 300px;
    background-color: $surface-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 20px 15px;
    border-radius: 8px;
    border: 1px solid #eeeeee;

    .col-left {
      .data {
        width: 100%;
        max-width: 500px;
        margin: 10px 0px;

        &.create {
          margin: 6px 0px;
        }
        &.button {
          margin-top: 15px;
        }
      }
      .wrapper-link {
        width: 100%;
        display: flex;
        justify-content: center;
        .link {
          text-align: center;
          margin-top: 10px;
          font-size: 14px;
        }
      }
      .title-account {
        margin: 0px;
      }
    }

    .col-right {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      #avatar-file {
        display: none;
      }
      #avatar {
        position: relative;
        cursor: pointer;
        width: 150px;
        height: 150px;
        border-radius: 150px;
        overflow: hidden;

        #avatar-img {
          width: 150px;
          height: 150px;
          border-radius: 150px;
          object-fit: cover;
        }
      }

      #link-upload-rs {
        font-size: 14px;
        color: $primary-light;
        margin-bottom: 20px;
      }
    }
  }
}

@media (min-width: 700px) {
  .account-wrapper {
    .account-container {
      flex-direction: row;
      width: 700px;
      .col-left {
        width: 50%;
        padding: 10px;
      }
      .col-right {
        #link-upload-rs {
          display: none;
        }
        #avatar {
          width: 250px;
          height: 250px;

          #avatar-img {
            width: 250px;
            height: 250px;
          }
          &:hover {
            &::before {
              content: "Subir foto";
              display: flex;
              justify-content: center;
              align-items: center;
              color: #ffffff;
              width: 250px;
              height: 250px;
              position: absolute;
              top: 0;
              left: 0;
              background: rgba(0, 0, 0, 0.59);
              border-radius: 150px;
            }
          }
        }
      }
    }
  }
}
