.app-wrapper {
  display: flex;
  padding: 30px 15px;
  justify-content: flex-end;
  .post-wrapper {
    width: 100%;
    max-width: 660px;
  }
}

@media (min-width: 992px) {
  .app-wrapper {
    padding: 30px 100px;
    position: relative;
  }
}
