@import "../../Theme/variables.scss";
.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-container {
    width: 300px;
    background-color: $surface-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 15px;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    .col-left {
      .image-unlock {
        display: none;
      }
    }

    .col-right {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title-login {
        margin: 0px;
      }
      .data {
        width: 100%;
        max-width: 500px;
        margin: 10px 0px;

        &.create {
          margin: 6px 0px;
        }
      }

      .link {
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 700px) {
  .login-wrapper {
    .login-container {
      flex-direction: row;
      width: 700px;
      .col-left {
        .image-unlock {
          display: initial;
          width: 350px;
          margin-right: 20px;
        }
      }
      .col-right {
        .data {
          margin: 15px 0px;
        }
      }
    }
  }
}
